* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


.square {
  display: flex;
  background-color: white;
  float: left;
  border: 1px solid grey;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  justify-content: center;
}
.board-row {
  display: flex;
  flex-direction: row;
}
